body {
    background-color:#1C1C1C;
  
     
}
header{
    background-color: rgb(125, 140, 121);
}

.logo{
    width: 12%;
}



.texto-principal {
    margin-right: 20%; 
}

h1,h2 {
    color: #D3D3D3;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
}

p {
    color:  #5F9EA0;
    padding: 3px;


}

#imagem-principal {
    width: 10%;
    margin-left: 60%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}
.lista{
    margin-left: 30px;
    font-size: 25px;
    padding: 10px;
    text-decoration-line: none;
    font-family: 'Akronim', cursive;
}
.lista li:first-letter  {
    color: rgb(239, 22, 11);
}
.lista li:after{
    content: "\2665";
    color: rgb(136, 255, 0);
}




.itens {
	color:  #5F9EA0;
	text-decoration: underline;
}
.texto-principal {
    text-align: justify;
}




p {
    color:  #5F9EA0;

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}



nav{
    
    position:absolute;
    top:50px;
    right: 50px;
    

}

nav li{
    display: inline;
    margin-right: 10px;
}
nav a{
    font-size: 22px;
    color: rgb(21, 20, 20);
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

 footer{
    
    text-align: center;
    margin-top: 15%;
    background-image: url(https://img.freepik.com/vetores-gratis/plano-de-fundo-celestial-sem-costura-com-estrelas-cintilantes-brilhando-em-um-ceu-azul-escuro-a-noite_1284-43331.jpg?w=2000);
   
}

.logo2 {
    width: 30px;
}
.textofinal{
    font-size: 20px;
    color: white;
}